{% extends "main.html" %}   
{% load static %}
{% block content %}
<h1>Booked Calls</h1>
    {% for i in content %}
        {% for j in i %}
            <strong>{{j.advisor_name}}</strong>
            <br>
            <ul>
            <img src="{{STATIC_URL}}{{j.advisor_image }}">
            <br>
            <strong>{{j.advisor_id }}</strong>
            <strong>{{j.date}}</strong>
            <br>
            <strong>{{j.booking_id}}</strong>
            </ul>
        {% endfor %}
    {% endfor %}

{% endblock %}  